.container {
  padding: 15px;
}

.wrapper {
  display: grid;
  gap: 16px 0;

  .details {
    &:nth-child(1) {
      background-color: #fbe5ea;
    }
    &:nth-child(2) {
      background-color: #d8f9f9;
    }
    &:nth-child(3) {
      background-color: #ebebfa;
    }
  }
}
details {
  border: 1px solid red;
}
.details {
  background-color: #f6f6f6;
  border-radius: 10px;
  border: revert;
  &[open='true'] {
    .summary {
      &::after {
        opacity: 0;
      }
    }
  }
}
.summary {
  cursor: pointer;
  font-weight: bold;
  padding: 24px;
  list-style: none;
  font-size: 1.125rem;
  position: relative;

  &::-webkit-details-marker {
    display: none;
  }

  &::before,
  &::after {
    position: absolute;
    content: '';
    width: 16px;
    height: 3px;
    background-color: #444;
    right: 40px;
    top: 50%;
  }

  &::before {
    transform: translateY(-50%);
  }

  &::after {
    transition: 0.3s opacity;
    transform: translateY(-50%) rotate(90deg);
  }
}

.content {
  overflow: hidden;
}
.contentInner {
  padding: 0 20px 20px;
}
