---
import styles from './styles.module.scss';
---

<header>
  <ul>
    <li class={styles.list}><a href="/tree-view">ツリービュー</a></li>
    <li class={styles.list}><a href="/accordion">アコーディオン</a></li>
  </ul>
</header>
