.wrap {
  overflow-x: scroll;
}
.list {
  list-style: none;
  display: flex;
  padding: 1rem 0;
  gap: 0 24px;
  width: 100%;
  width: calc(100% + 500px);
}

.item {
  a {
    color: #3162d5;
    text-decoration: none;
  }
}
